.navbar-collapse{
    flex-grow: unset !important;
}

.section{
    padding: 3em 0em;
}

.container{
    display: flex;
    justify-content: center;
}

.item_card{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    padding: 1.25rem;
}

.container-space{
    display: flex;
    justify-content: space-between;
}

.nav-bg{
    background-color: #8C61D6;
}

.btn-bg-color{
    background-color: #8C61D6;
    color:white
}

.btn-bg-color-light{
    background-color: thistle;
}



@media (max-width: 1020px){
    .card{
        width: 100%;
    }
}